[submodule ".vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-latex-live-preview"]
	path = vim/.vim/bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule ".vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "xkb/.xkb/mwb-layout"]
	path = xkb/.xkb/symbols
	url = https://github.com/MatteoWickiBande/mwb-layout
[submodule "vim/.vim/bundle/clang_complete"]
	path = vim/.vim/bundle/clang_complete
	url = https://github.com/rip-rip/clang_complete
