* {
    border: none;
    border-radius: 16px;
    /* otf-font-awesome is required to be installed for icons */
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    min-height: 0;
}

box.horizontal {
    margin-top: 2px;
    margin-bottom: 0px;
}

window#waybar {
    background-color: transparent;
    border-radius: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

transition window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

#window {
    padding: 0 10px;
    margin: 0 4px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#workspaces button {
    margin-left: 3px;
    padding: 6px;
    background: #454545;
    color: #ffffff;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    background: rgba(41, 98, 255, 0.8);
    color: white;
    box-shadow: inherit;
}

#workspaces button.focused {
    background-color: #2962FF;
    color: white
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#custom-media,
#custom-screencast,
#custom-darkmode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    /* background-color: #4b5162; */
    background-color: #454545;
    color: #ffffff;
}

#custom-screencast {
    padding-top: 5px;
    color: #000000;
    background-color: orange;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #145e33;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #ca3030;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    padding-top: 5px;
    background-color: #3b4d7e;
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    background-color: darkgrey;
}

#tray {
    background-color: #3b4d7e;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}